// Couleurs principales
$color-primary: #4338ca;
$color-primary-light: #6059ff;
$color-secondary: #f97316; // orange
$color-bg: #ececec;
$color-bg-light: #1e1e2f;
$color-text: #ddd;
$color-text-muted: #aaa;
$color-border: #2a2a3f;

// Polices
$font-main: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

// Tailles & espacements
$border-radius: 12px;
$padding-main: 1rem;
$gap-main: 1rem;